
{% extends 'users/base.html' %}
{% comment %} {% load crispy_forms_tags %}
{% csrf_token %}
{% crispy form %} {% endcomment %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <div class="container" style="margin-top: 30px;">
    <form action="" method="POST">
      {% csrf_token %}
      <center><fieldset class="form-group">
          <legend class="border-bottom mb-4" style="color: white;">Sign In Now</legend>
          {% comment %} {% crispy name_form %} {% endcomment %}
          {{form}}
      </fieldset></center>
      <div class="form-group" id="signup-button">
          <button class="btn ">Sign In</button>
      </div>
     
      <div class="form-group">
          <small class="text-muted ml-3" >Don't have an account yet? <a href="{% url 'register' %}">Sign Up Today</a></small>

      </div>
      <a href="{% url 'password_reset' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Password Reset </a>
    </form>
    </div>
{% endblock %}
